web/WEB-INF/wsdl/196.6.103.10_86/NIPWS/NIPInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://core.nip.nibss/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://core.nip.nibss/" name="NIPInterface">
<types>
<xsd:schema>
<xsd:import namespace="http://core.nip.nibss/" schemaLocation="http://196.6.103.10:86/NIPWS/NIPInterface?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="mandateadvice">
<part name="parameters" element="tns:mandateadvice"></part>
</message>
<message name="mandateadviceResponse">
<part name="parameters" element="tns:mandateadviceResponse"></part>
</message>
<message name="balanceenquiry">
<part name="parameters" element="tns:balanceenquiry"></part>
</message>
<message name="balanceenquiryResponse">
<part name="parameters" element="tns:balanceenquiryResponse"></part>
</message>
<message name="amountblock">
<part name="parameters" element="tns:amountblock"></part>
</message>
<message name="amountblockResponse">
<part name="parameters" element="tns:amountblockResponse"></part>
</message>
<message name="amountunblock">
<part name="parameters" element="tns:amountunblock"></part>
</message>
<message name="amountunblockResponse">
<part name="parameters" element="tns:amountunblockResponse"></part>
</message>
<message name="accountblock">
<part name="parameters" element="tns:accountblock"></part>
</message>
<message name="accountblockResponse">
<part name="parameters" element="tns:accountblockResponse"></part>
</message>
<message name="accountunblock">
<part name="parameters" element="tns:accountunblock"></part>
</message>
<message name="accountunblockResponse">
<part name="parameters" element="tns:accountunblockResponse"></part>
</message>
<message name="nameenquirysingleitem">
<part name="parameters" element="tns:nameenquirysingleitem"></part>
</message>
<message name="nameenquirysingleitemResponse">
<part name="parameters" element="tns:nameenquirysingleitemResponse"></part>
</message>
<message name="fundtransfersingleitem_dc">
<part name="parameters" element="tns:fundtransfersingleitem_dc"></part>
</message>
<message name="fundtransfersingleitem_dcResponse">
<part name="parameters" element="tns:fundtransfersingleitem_dcResponse"></part>
</message>
<message name="fundtransfersingleitem_dd">
<part name="parameters" element="tns:fundtransfersingleitem_dd"></part>
</message>
<message name="fundtransfersingleitem_ddResponse">
<part name="parameters" element="tns:fundtransfersingleitem_ddResponse"></part>
</message>
<message name="txnstatusquerysingleitem">
<part name="parameters" element="tns:txnstatusquerysingleitem"></part>
</message>
<message name="txnstatusquerysingleitemResponse">
<part name="parameters" element="tns:txnstatusquerysingleitemResponse"></part>
</message>
<message name="adjustNIPSettings">
<part name="parameters" element="tns:adjustNIPSettings"></part>
</message>
<message name="adjustNIPSettingsResponse">
<part name="parameters" element="tns:adjustNIPSettingsResponse"></part>
</message>
<message name="financialinstitutionlist">
<part name="parameters" element="tns:financialinstitutionlist"></part>
</message>
<message name="financialinstitutionlistResponse">
<part name="parameters" element="tns:financialinstitutionlistResponse"></part>
</message>
<message name="fundtransferAdvice_dc">
<part name="parameters" element="tns:fundtransferAdvice_dc"></part>
</message>
<message name="fundtransferAdvice_dcResponse">
<part name="parameters" element="tns:fundtransferAdvice_dcResponse"></part>
</message>
<message name="fundtransferAdvice_dd">
<part name="parameters" element="tns:fundtransferAdvice_dd"></part>
</message>
<message name="fundtransferAdvice_ddResponse">
<part name="parameters" element="tns:fundtransferAdvice_ddResponse"></part>
</message>
<message name="privateAdjustmentOfSettings">
<part name="parameters" element="tns:privateAdjustmentOfSettings"></part>
</message>
<message name="privateAdjustmentOfSettingsResponse">
<part name="parameters" element="tns:privateAdjustmentOfSettingsResponse"></part>
</message>
<message name="ftackcreditrequest">
<part name="parameters" element="tns:ftackcreditrequest"></part>
</message>
<message name="ftackcreditrequestResponse">
<part name="parameters" element="tns:ftackcreditrequestResponse"></part>
</message>
<portType name="NIPInterface">
<operation name="mandateadvice">
<input wsam:Action="http://core.nip.nibss/NIPInterface/mandateadviceRequest" message="tns:mandateadvice"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/mandateadviceResponse" message="tns:mandateadviceResponse"></output>
</operation>
<operation name="balanceenquiry">
<input wsam:Action="http://core.nip.nibss/NIPInterface/balanceenquiryRequest" message="tns:balanceenquiry"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/balanceenquiryResponse" message="tns:balanceenquiryResponse"></output>
</operation>
<operation name="amountblock">
<input wsam:Action="http://core.nip.nibss/NIPInterface/amountblockRequest" message="tns:amountblock"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/amountblockResponse" message="tns:amountblockResponse"></output>
</operation>
<operation name="amountunblock">
<input wsam:Action="http://core.nip.nibss/NIPInterface/amountunblockRequest" message="tns:amountunblock"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/amountunblockResponse" message="tns:amountunblockResponse"></output>
</operation>
<operation name="accountblock">
<input wsam:Action="http://core.nip.nibss/NIPInterface/accountblockRequest" message="tns:accountblock"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/accountblockResponse" message="tns:accountblockResponse"></output>
</operation>
<operation name="accountunblock">
<input wsam:Action="http://core.nip.nibss/NIPInterface/accountunblockRequest" message="tns:accountunblock"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/accountunblockResponse" message="tns:accountunblockResponse"></output>
</operation>
<operation name="nameenquirysingleitem">
<input wsam:Action="http://core.nip.nibss/NIPInterface/nameenquirysingleitemRequest" message="tns:nameenquirysingleitem"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/nameenquirysingleitemResponse" message="tns:nameenquirysingleitemResponse"></output>
</operation>
<operation name="fundtransfersingleitem_dc">
<input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_dcRequest" message="tns:fundtransfersingleitem_dc"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_dcResponse" message="tns:fundtransfersingleitem_dcResponse"></output>
</operation>
<operation name="fundtransfersingleitem_dd">
<input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_ddRequest" message="tns:fundtransfersingleitem_dd"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransfersingleitem_ddResponse" message="tns:fundtransfersingleitem_ddResponse"></output>
</operation>
<operation name="txnstatusquerysingleitem">
<input wsam:Action="http://core.nip.nibss/NIPInterface/txnstatusquerysingleitemRequest" message="tns:txnstatusquerysingleitem"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/txnstatusquerysingleitemResponse" message="tns:txnstatusquerysingleitemResponse"></output>
</operation>
<operation name="adjustNIPSettings">
<input wsam:Action="http://core.nip.nibss/NIPInterface/adjustNIPSettingsRequest" message="tns:adjustNIPSettings"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/adjustNIPSettingsResponse" message="tns:adjustNIPSettingsResponse"></output>
</operation>
<operation name="financialinstitutionlist">
<input wsam:Action="http://core.nip.nibss/NIPInterface/financialinstitutionlistRequest" message="tns:financialinstitutionlist"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/financialinstitutionlistResponse" message="tns:financialinstitutionlistResponse"></output>
</operation>
<operation name="fundtransferAdvice_dc">
<input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_dcRequest" message="tns:fundtransferAdvice_dc"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_dcResponse" message="tns:fundtransferAdvice_dcResponse"></output>
</operation>
<operation name="fundtransferAdvice_dd">
<input wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_ddRequest" message="tns:fundtransferAdvice_dd"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/fundtransferAdvice_ddResponse" message="tns:fundtransferAdvice_ddResponse"></output>
</operation>
<operation name="privateAdjustmentOfSettings">
<input wsam:Action="http://core.nip.nibss/NIPInterface/privateAdjustmentOfSettingsRequest" message="tns:privateAdjustmentOfSettings"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/privateAdjustmentOfSettingsResponse" message="tns:privateAdjustmentOfSettingsResponse"></output>
</operation>
<operation name="ftackcreditrequest">
<input wsam:Action="http://core.nip.nibss/NIPInterface/ftackcreditrequestRequest" message="tns:ftackcreditrequest"></input>
<output wsam:Action="http://core.nip.nibss/NIPInterface/ftackcreditrequestResponse" message="tns:ftackcreditrequestResponse"></output>
</operation>
</portType>
<binding name="NIPInterfacePortBinding" type="tns:NIPInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="mandateadvice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="balanceenquiry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="amountblock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="amountunblock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="accountblock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="accountunblock">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="nameenquirysingleitem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fundtransfersingleitem_dc">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fundtransfersingleitem_dd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="txnstatusquerysingleitem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="adjustNIPSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="financialinstitutionlist">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fundtransferAdvice_dc">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fundtransferAdvice_dd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="privateAdjustmentOfSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ftackcreditrequest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="NIPInterface">
<port name="NIPInterfacePort" binding="tns:NIPInterfacePortBinding">
<soap:address location="http://196.6.103.10:86/NIPWS/NIPInterface"></soap:address>
</port>
</service>
</definitions>